.add_btn{
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background: rgba($color: #1D3557, $alpha: 1);
    color: #f1faee;
    font-size: 25px;
    text-align: center;
    top: 0px;
    right: 0px;
    position: fixed;
    vertical-align: middle;
    margin: 35px 0px 15px 0px;
    cursor: pointer;
}