.todo_ul{
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 85px;
}

.empty_page{
    width: 100vw;
    height: 100vh;
    padding-top: 85px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}