.todo__li{
    padding: 20px 10px 10px;
    border-bottom: 1px solid #8d8d8d;
    display: flow-root;
    .todo___check{
        float: left;
        line-height: 31px;
        margin: 0px !important;
    }

    .todo___text{
        width: 70vw;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        font-size: large;

        &.disabled{
            text-decoration: line-through;
        }

        .todo___date{
            font-size: small;
            color: #8d8d8d;
        }
    }

    .btn__area{
        float: right;
        width: 10vw;
    }
}

